# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/

# pytest
.pytest_cache/
.mypy_cache/
.tox/
.coverage
coverage.xml
*.cover
htmlcov/

# Allure
allure-results/
allure-report/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Virtual environment
venv/
env/

# Logs
*.log
*.tmp